<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    <style>
  
        form {
          text-align: center;
        }
        th, td{
          border: solid 1px black;
        }
        input, textarea {
          width: 100%;
          padding-bottom: 10%;
        }
        button{
          width: 100%;
          padding: 10px;
          margin-top: 5%;
          background-color: gainsboro;
        }
      
        img{
          width: 100px;
        }
        
      </style>
</head>
<body>
    <h2>홈 페이지</h2>
    
    <p>홈 페이지입니다.</p>

    <!-- 로그인 여부에 따라 다르게 보여주기 -->
    {% if user.is_authenticated %}
        <p>안녕하세요, {{ user.username }}님!</p>
        <a href="{% url 'user:logout' %}">로그아웃</a>
        <a href="{% url 'user:password_reset' %}">비밀번호 찾기</a>
    {% else %}
        <a href="{% url 'user:login' %}">로그인</a> | 
        <a href="{% url 'user:signup' %}">회원가입</a>

        <a href="{% url 'user:password_reset' %}">비밀번호 찾기</a>
    {% endif %}

<br>

<strong> <a href="{% url 'user:board' %}" >게시판 글쓰기</a> </strong>
<strong> <a href="{% url 'user:mypage' %}" >마이 페이지</a> </strong>
  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
        <th>이미지</th>
        <th>기술 스택</th>
        <th>깃허브 링크</th>
        <th>조회수</th>
        <th>작성일</th>

      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ board_list.pk }}</td>
          <td>
            {% if board_list.pk %}
              <a href="{% url 'user:board_detail' board.pk %}">
                {{ board.title }}
              </a>
            {% else %}
              {{ board.title }}
            {% endif %}
          </td>
          <td>{{ board.content }}</td>
          <td>{{ board.writer }}</td>
          <td>
            {% if board.image %}
              <img src="{{ board.image.url }}" alt="첨부 이미지">
            {% endif %}
          </td>
          {% for board in board_list %}
          <tr>
            <td>{{ board.pk }}</td>
            <td>
              <a href="{% url 'user:board_detail' board.pk %}">{{ board.title }}</a>
            </td>
            <td>{{ board.content }}</td>
            <td>{{ board.writer }}</td>
            <td>
              {% if board.image %}
                <img src="{{ board.image.url }}" alt="첨부 이미지">
              {% endif %}
            </td>
            <td>
              {% for stack in board.stacks.all %}
                {{ stack.name }}{% if not forloop.last %}, {% endif %}
              {% empty %}
                없음
              {% endfor %}
            </td>
            <td>
              <a href="{{ board.github_link }}" target="_blank">{{ board.github_link }}</a>
            </td>
          </tr>
        {% endfor %}

    </tbody>
  </table>



</body>
</html>